// Place all the styles related to the Rpg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red{
    color:red;
}
.green{
    color:green;
}
.log{
    height:200px;
    overflow-y: auto;
    border: solid black 1px;
}
.row{
    text-align: center;
}
